body {
  background-color: rgb(255,255,255); 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
}

.app-container {
  width: 100%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
 background: linear-gradient(to center, white, rgb(242, 242, 242));
    position: relative;
     overflow: hidden;
}
.header-image {
  width: 100%; 
  height: auto; 
  object-fit: cover;  
  margin-bottom: 10px;  
}

.map-wrapper {
  position: relative;
  width: 350px;
  height: 600px;
  border: 10px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

.filter-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  background: white;
  border: 3px solid black;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
}


.address-fields {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.address-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.addr-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid black;
}

.from-dot {
  background: #ff1f8a;
}

.to-dot {
  background: #00bcd4;
}

.addr-box {
  flex: 1;
  background: white;
  border: 3px solid black;
  border-radius: 14px;
  padding: 12px;
  font-size: 14px;
  text-align: left;
  color: black;
  font-weight: 700;
}

.filter-panel {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  padding: 12px;
  transition: top 0.35s ease-out;
  box-sizing: border-box;
}

.filter-panel.open {
  top: 0;
}


.fp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.fp-title {
  font-size: 20px;
  font-weight: bold;
}

.fp-x {
  width: 36px;
  height: 36px;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.fp-subtitle {
  margin-top: 18px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
}


.fp-search {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 16px;
}


.fp-selected {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.fp-pill {
  background: #007bff;
  color: white;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 10px;
}

.fp-empty {
  opacity: 0.5;
}

.fp-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  gap: 10px;
  padding: 5px;

  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.fp-section-box {
  border: 2px solid black;
  border-radius: 12px;
  padding: 12px;
  margin-top: 12px;
}

.fp-item {
  height: 42px;           
  font-size: 14px;      
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  background: white;
}

.fp-item.selected {
  border-color: black;
  background: #e6e6e6;
}


.fp-footer {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.fp-item:active {
  transform: scale(0.92);
}
.fp-reset,
.fp-save {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 14px;
  cursor: pointer;
}

.fp-reset {
  background: white;
  border-color: red;
  color: red;
}

.fp-save {
  background: #4caf50;
  color: white;
}



.fp-item.tram {
  border-color: dodgerblue;
  color: dodgerblue;
}

.fp-item.tram.selected {
  background: rgba(30,144,255,0.15);
}


.fp-item.bus {
  border-color: #ff1f8a;
  color: #ff1f8a;
}

.fp-item.bus.selected {
  background: rgba(255,31,138,0.15);
}

.fp-section-divider {
  width: 100%;
  height: 2px;
  background: black;
  margin: 15px 0;
}
.fp-subtitle,
.fp-title,
.fp-x,
.fp-item,
.fp-selected,
.fp-empty {
  color: black !important;
}
.log-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}
